<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> would like to request a shift change</h1>
    <br/>
    <ol>
      <li>Shift-change: @request.date, </li>
      <li></li>
      <li></li>
    </ol>

    <p><%= link_To "User Profile", @user %></p>
  </body>
</html>
