<!-- # send a response email to user by admins when user requests shift change -->

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> would like to request a shift change</h1>
    <br/>
    <ol>
      <li>Shift-change: @request.shift_id, </li>
      <li>Request Created at: @request.create_at</li>
      <li>Available employees: </li>
      <!-- need help with these fields -->
    </ol>
<!--
    <p><%= link_to "User Profile", @user %></p> -->
  </body>
</html>
