<!-- # sends an email to requester and accepter when admin reassigns the email to another employee(accepter)
 -->
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> @request.accepter.first_name have been reassigned a shift %>!</h1>
    <p>
      You have successfully signed up to shiftable.com,
      your username is: <%= user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
