<!-- # send a email to admins by user when user requests shift change -->

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> would like to request a shift change</h1>
    <br/>
    <ol>
      <li>Shift-change: @request.shift_id, </li>
      <li>Request Created at: @request.created_at</li>
    </ol>
    <p>Thanks you and have a great day!</p>
  </body>
</html>
