<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="div_logo">
            <img src="assets/logo.png" alt="logo" class="logo">
        </div>
        <div class="signin" id="users_profile_image">Sign in</div>
        <div class="signin" id="users_profile_image"><a href="/signup">Sign Up</a></div>
        <div class="signin_popup">
            <%= form_for(:user, as: :user, url: session_path(:user), html: {class: "popup_login_form"}) do |f| %>
                <span class="input_label">Email</span>
                <%= f.email_field :email, class: "g_inpt" %>
                <span class="input_label">Password</span>
                <%= f.password_field :password, class: "g_inpt" %>
                <button type="sumbit" class="btn" value="Login">Log in</button>
                <input type="reset" class="btn abort" value="Cancel" />
            <% end %>   
        </div>
    </div>
    <!-- the content here copied to temp01.html in temp folder -->
    <div class="carousel_text_cont" onclick='runIt()'>
        <div class="slogan_blocks">
            <div class="box">
                <p class="text">Accuracy</p>
            </div>
            <div class="box">
                <p class="text">Comfort</p>
            </div>
            <div class="box">
                <p class="text">Flexible</p>
            </div>
        </div>
        <p class="poster">Shift Management Website</p>
    </div>
    <!-- end of the banner section -->
    <div id='carousel_container'>
        <div id='left_scroll'>
            <img src='assets/arrow_left.png' />
        </div>
        <div id='carousel_inner'>
            <ul id='carousel_ul'>
                <li>
                    <a href='#'>
                        <img src='assets/pan.jpg' />
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <img src='assets/pan_car.jpg' />
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <img src='assets/pan_red.jpg' />
                    </a>
                </li>
            </ul>
        </div>
        <div id='right_scroll'>
            <img src='assets/arrow_right.png' />
        </div>
    </div>

    <div class="container">
        <div class="content-left">
            <p class="big">This is the first header in this section</p>
            <p>I could add another div with a class of carousel-caption. And then what I'm going to do is inside of that I can put whatever I want for that caption. It can be as long as I want. It can use whatever tags you want to use, and so forth.</p>
            <p class="big">Scond one in here!</p>
            <p>I could add another div with a class of carousel-caption. And then what I'm going to do is inside of that I can put whatever I want for that caption. It can be as long as I want. It can use whatever tags you want to use, and so forth.</p>
        </div>
        <div class="content-right">
            <p class="mini_big" style="display:inline;vertical-align:top">Right side section</p></div>
    </div>

    <!-- javascript -->
</body>

</html>
