.signup_container {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    background-color: rgba(0, 0, 0, .8);
    border-radius:5px;
}
.form01 input {
    display: block;
    margin-top:10px;
    font-size:12pt;
    font-family:helveticaNeue-light;
    width:80%;
}
.form01{
    padding:100px 0 100px 100px;
}
.tall{
    height:100%;
}
.sub_btn{
    width:150px;
    height:30px;
    margin-top:70px!important;
    border:0;
    border-radius: 3px;
    padding:3px 0;
    font-family:helveticaNeue-thin;
    font-size:12pt;
    background-color:#505050;
    transition:background 1s;
    color:#8D8D8D;
}
.label{
    color:#ccc;
}
.signup_container:hover .sub_btn{
    background-color: #235280;
}
