// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.external-event.eventOnCalendar{
  font-size: 11px;
  z-index: 9999;
  height: auto;
}
   #wrap {
       width: 1100px;
       margin: 0 auto;
       }

 /*  #external-events {
       float: left;
       width: 150px;
       padding: 0 10px;
       border: 1px solid #ccc;
       background: #eee;
       text-align: left;
       }*/

   #external-events h4 {
       font-size: 16px;
       margin-top: 0;
       padding-top: 1em;
       }

   .external-event { /* try to mimick the look of a real event */
       margin: 10px 0;
       padding: 2px 4px;
       background: #bdd1f4;
       color: #535965;
       font-size: .85em;
       cursor: pointer;
       }
    // .external-event:hover { /* try to mimick the look of a real event */
    //     zoom:1.2;
    //    }


   #external-events p {
       margin: 1.5em 0;
       font-size: 11px;
       color: #666;
       }

   #external-events p input {
       margin: 0;
       vertical-align: middle;
       }

       #calendar {
         float: right;
         padding: 20px 40px;

       }
       .fc-day-header {
         background-color: #ccc;
       }

       .fc-toolbar{
         padding-bottom:30px;
         border-bottom:1px solid #ccc;
         margin-bottom:20px;
       }
       .fc-left>h2{
        font-family:helveticaNeue!important;
        font-weight: lighter;
        font-size: 18pt;
       }
       .fc-unthemed .fc-today{
        background-color: #9BBEED;
       }
